@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@1,500&display=swap');

*:focus {outline:none !important}

.navbarBG {
    background-color: rgba(0, 0, 0, 0.6);
}

.navButton {
    cursor: pointer;
    font-size: 1.2vw;
    padding-right: 2.5vw;
    padding-left: 2.5vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    background-image: linear-gradient(#edd26b,#e6c365, #d3a04f,#be7b37,#d3a04f,#e6c365, #edd26b);
    border-radius: 1vw;
    border-color: #eac775;
    color: #241808;
    font-family: 'Alegreya SC', serif;
    box-shadow: 0 0.2vw #d69f4f;
    margin: 0.4vw 0 0.4vw 1vw
}

.navFooter {
    font-size: 3vh;
    background-image: linear-gradient(#edd26b,#e6c365, #d3a04f,#be7b37,#d3a04f,#e6c365, #edd26b);
    border-color: #eac775;
    color: #241808;
    font-family: 'Alegreya SC', serif;
    box-shadow: 0 0.2vw #d69f4f;
}

.rotate {
  animation: rotation 20s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
