@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@1,500&display=swap');
/*
    Tela toda
*/
div#playersheet {
    font-family: 'Alegreya SC', serif;
    margin: 1% 7% 1% 7%;
}

/*
    Header
*/
div#head {
    width: 100%;
    background-image: linear-gradient(#214579, #1f4073, #1e3f72, #163669);
    padding: 1% 0 1% 0%;
    border-radius: 1vw;
    display: block;
    margin: auto;
    color: white;
    cursor: pointer;
}

div#playerform {
    margin: auto;
    width: 95%;
    background-color: beige;
    text-align: center;
    padding: 2% 0 2% 0;
}

div#playerform form label {
    font-size: 1.7em;
}

div#playerform form div#nomes {
    width: 100%;
}

div#playerform form div.nome {
    width: 50%; 
    float: left;
}

div#playerform form div#nomeChar {
    width: 50%;
    float: right;
}
table {
    margin: auto;
}