.gold {
    background-image: linear-gradient(#edd26b,#e6c365, #d3a04f,#be7b37,#d3a04f,#e6c365, #edd26b);
    border-radius: 1vw;
    border-color: #eac775;
    color: #241808;
    font-family: 'Alegreya SC', serif;
    box-shadow: 0 0.2vw #d69f4f;
}

.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
}
